.footer {
  background-color: var(--color-gray-100);
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
}

.flexContainer {
  composes: spaceBetween from '@/styles/style-utils.module.css';
  padding: 1em 0;
}

.footer_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer_menu > * {
  /* width: 100%; */
  text-align: center;
  position: relative;
  padding: 0 0.7em;
}

.footer_menu > * + *::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: white;
  left: 0;
}
