.header {
  width: 100%;
  height: var(--header-height);
  background-color: white;
  box-shadow: 0 6.1px 4.4px rgba(0, 0, 0, 0.086), 0 6.2px 8.8px rgba(0, 0, 0, 0.092);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.flexContainer {
  height: 100%;
  composes: spaceBetween from '@/styles/style-utils.module.css';
}

.header_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  cursor: pointer;
}

.header_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  cursor: pointer;
}

@media (max-width: 767px) {
  .header_menu {
    display: none;
  }
}
